</main>

    <footer class="footer container-fluid  position-absolute bottom-0 bg-dark">
      <div class="container">
        <p class="text-muted text-light">Copyright &copy; 2023 Your Company Name</p>
      </div>
    </footer>
  </body>
</html>
