<%- include(rootPath +'/views/layouts/header.ejs') %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <h2>Login</h2>
          <form>
            <div class="form-group">
              <label for="username">Username:</label>
              <input
                type="text"
                id="username"
                class="form-control"
                placeholder="Enter your username"
              />
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input
                type="password"
                id="password"
                class="form-control"
                placeholder="Enter your password"
              />
            </div>
            <button type="submit" class="btn btn-primary" id="loginBtn">
              Login
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include(rootPath +'/views/layouts/footer.ejs') %>
<script>
  const loginBtn = document.querySelector("#loginBtn");
  const username = document.querySelector("#username");
  const password = document.querySelector("#password");

  const clearAllData = () => {
    username.value = "";
    password.value = "";
  };

  async function loginAction(e) {
    e.preventDefault();

    const user = {
      username: username.value,
      password: password.value,
    };

    const resJson = await fetch("http://localhost:5555/login/verify", {
      method: "PUT",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(user),
    });

    const res = await resJson.json();
    if (!res.success) {
      window.location.href = "/register";
    }

    return alert(res.message);
    clearAllData();
  }

  loginBtn.addEventListener("click", loginAction);
</script>
